:root {
    --lightblue: #B6FFFA; /* Definición de una variable de color */
    --skyblue: #98E4FF; /* Definición de una variable de tamaño de texto */
    --blue: #80B3FF;
    --darkblue: #687EFF;
  }


#spanish-words {
  font-size: 2rem
}

.bg-darkblue {
    background-color: var(--darkblue);
}

